/* Coolors Exported Palette - coolors.co/d2fdff-ffcad4-3abeff-ff299c-ef27a6 */

/* HSL */
$color1: hsla(183%, 100%, 91%, 1);
$color2: hsla(349%, 100%, 90%, 1);
$color3: hsla(200%, 100%, 61%, 1);
$color4: hsla(328%, 100%, 58%, 1);
$color5: hsla(322%, 86%, 55%, 1);

/* RGB */
$color1: rgba(210, 253, 255, 1);
$color2: rgba(255, 202, 212, 1);
$color3: rgba(58, 190, 255, 1);
$color4: rgba(255, 41, 156, 1);
$color5: rgba(239, 39, 166, 1);