.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("../img/neoncity.jpg");
  min-height: 400px;
}

.bgimg-2 {
  background-image: url("../img/coder.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("../img/tool.jpg");
  min-height: 400px;
}
.bgimg-4 {
  background-image: url("../img/finale.jpg");
  min-height: 600px
}
.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  }
}


.header {
  padding: 70px;
  text-align: center;
  color: white;
  font-size: 30px;
  background: #282828;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}
.bg-1 {
  font-family: Source Sans Pro;
  background-color: #FFDBDE;
  }
.bg-1 h3 {color: black;}
.bg-1 p {font-style:italic;}
.bg-2 {
  font-family: Source Sans Pro;
  background-color: #EFD3D7;
}
.bg-3 {
    font-family: Source Sans Pro;
    background-color: #FEEAFA;
}
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: gray;
}
.code{
  list-style: none;
  margin:10px 30px;
  display: inline-block;
  font-size: 20px;
  padding: 20px 20px;
  color: black;
  border: 1px solid black;
  border-radius: 50%;
  transition: .5s;
}
.circle {
  list-style: none;
  margin:10px 30px;
  display: inline-block;
  font-size: 20px;
  padding: 20px 20px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  transition: .5s;
}
.bg-4 {
    font-family: Source Sans Pro;
    background-color: #CBC0D3;
}
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}
.thumbnail {
    display: block;
    padding: 5px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: black;
    color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}
.navbar {
  margin-bottom: 0;
  background-color: #2d2d30;
  border: 0;
  font-size: 11px !important;
  letter-spacing: 4px;
  opacity: 0.9;
}

/* Add a gray color to all navbar links */
.navbar li a, .navbar .navbar-brand {
  color: #d5d5d5 !important;
}

/* On hover, the links will turn white */
.navbar-nav li a:hover {
  color: #fff !important;
}

/* The active link */
.navbar-nav li.active a {
  color: #fff !important;
  background-color:#29292c !important;
}

/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
  border-color: transparent;
}
img.responsive-img, video.responsive-video {
    max-width: 100%;
    height: auto;
}

.rounded-img {
    border: 1px solid #;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img {
    border: 0;
    border-top-color: initial;
    border-top-style: initial;
    border-top-width: 0px;
    border-right-color: initial;
    border-right-style: initial;
    border-right-width: 0px;
    border-bottom-color: initial;
    border-bottom-style: initial;
    border-bottom-width: 0px;
    border-left-color: initial;
    border-left-style: initial;
    border-left-width: 0px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}
*, *:before, *:after {
    box-sizing: inherit;
}
img[Attributes Style] {
    width: 300px;
}
